.video-wrapper {
    position: relative;
    width: 100%;
    max-height: 500px;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
    margin: 20px 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}